{% extends 'base.html.twig' %}

{% block content %}
    <h1>Group Request</h1>
    <p>If you like your group to be listed here, please send us a request and we will process it as soon as possible.</p>

    {{ form_start(request_form) }}
        {{ form_widget(request_form) }}
        <input type="submit" value="Save" class="btn btn-primary pull-right"/>
    {{ form_end(request_form) }}
{% endblock %}
