{% extends 'base.html.twig' %}

{% block content %}
  <h1>Upcoming Meetups</h1>
  {{ render(controller('App\\Controller\\EventController:listAction')) }}
{% endblock %}

{% block sidebar %}
  <h2>Featured User Groups</h2>
  {{ render(controller('App\\Controller\\GroupController:listAction')) }}
{% endblock %}
